body{
  margin: 0px;
}
main{
  margin:5% ;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  
}
header{
  border-style:hidden ;
  background-image: url(deco3.jpg) ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'cursivebold';
  font-size: 30px;
}
@font-face {
  font-family: 'cursivebold';
  src: url( 'cursivebold.ttf' );
  }
@font-face {
  font-family:'cursive';
  src: url( 'cursive.ttf');
}

h1{
  align-items: center;

  
}

#presentation{
  font-family: 'cursive';
  font-size: 24px;
}

#parents{
  float: right;
}

table {
    border-collapse: collapse;
  }
  
table, th, td {
    border: 1px solid black;
  }
th, td {
    padding: 15px;
    text-align: left;
  }

.categorie{
    background-color: rgb(178, 212, 243);
    font-size: 20px;
    font-weight: bolder;
  }

 
/*Masquer les articles déjà acheté quand on survole avec la souris.*/
.achete:hover{
  opacity: 0;
  border-style: none ;
}

/*Mettre en italique et flouter les articles déjà séléctionné quand on survole avec la souris.*/
.selectionne:hover{
  font-style: italic ;
  opacity: 0.5;
  border-style: none;
}

/*Encadrer en vert les articles disponibles*/
.disponible:hover{
  border:greenyellow solid 3px;
  opacity:1 ;
  font-style: normal;
}

/*Encadrer en rouge les articles disponibles et urgents*/
.urgent:hover{
  border: red solid 3px;
  font-style: normal;
  opacity: 1;
}

#lien{
  
  border-style: none;
  border-radius: 5px;
  background-color:  rgb(178, 212, 243);  
  padding: 2px;
  margin: 5%;
  width: 20%;
  justify-items: center;
  text-align: center;
}
#lien a{
  text-decoration: none;
  color: black;
 
}
#lien a:hover{
  transition: all 450ms; 
  transform: scale(1.3);
}
footer{
  border-style: none;
  background-image: url("deco3.jpg") ;
 font-family: 'cursive';
 font-size: 25px;
 padding: 10px;
  }