body{
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main{
  margin:5% ;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  
}
header{
  border-style:hidden ;
  background-image: url(deco3.jpg) ;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'cursivebold';
  font-size: 30px;
  
}

#nounours{
  width: 10%;
}

@font-face {
  font-family: 'cursivebold';
  src: url( 'cursivebold.ttf' );
  }
@font-face {
  font-family:'cursive';
  src: url( 'cursive.ttf');
}

h2{
  font-family: 'cursive';
  font-size: 30px;
}

#presentation{
  font-family: 'cursive';
  font-size: 24px;
}

#parents{
  float: right;
}

table {
    border-collapse: collapse;
  }
  
table, th, td {
    border: 1px solid black;
  }
th, td {
    padding: 15px;
    text-align: left;
  }

.categorie{
    background-color: rgb(178, 212, 243);
    font-size: 20px;
    font-weight: bolder;
  }

 
/*Masquer les articles déjà acheté quand on survole avec la souris.*/
.achete:hover{
  opacity: 0;
  border-style: none ;
}

/*Mettre en italique et flouter les articles déjà séléctionné quand on survole avec la souris.*/
.selectionne:hover{
  font-style: italic ;
  opacity: 0.5;
  border-style: none;
}

/*Encadrer en vert les articles disponibles*/
.disponible:hover{
  border:greenyellow solid 3px;
  opacity:1 ;
  font-style: normal;
}

/*Encadrer en rouge les articles disponibles et urgents*/
.urgent:hover{
  border: red solid 3px;
  font-style: normal;
  opacity: 1;
}

#lien{
  
  border-style: none;
  border-radius: 5px;
  background-color:  rgb(178, 212, 243);  
  padding: 2px;
  margin: 5%;
  width: 20%;
  text-align: center;
}

#lien a{
  text-decoration: none;
  color: black;
 
}
#lien a:hover{
  transition: all 450ms; 
  transform: scale(1.3);
}
footer{
  border-style: none;
  background-image: url("deco3.jpg") ;
 font-family: 'cursive';
 font-size: 25px;
 text-align: center;
 padding: 10px;
  }


/* css pour la page formulaire.html */
#photo{
  margin: 0px;
  background-image: url("bebe.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}
 #formulaire h2{
  text-align: center;
}
#formulaire{
  display: flex;
  flex-direction: column;
  color:black;
  justify-content: center;
} 

form{
  margin: 5% auto;
   
  width: 500px;
  padding:1em;
  border: 1px solid #CCC;
  border-radius: 1em; 
     
}
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}

label {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

textarea {
  vertical-align: baseline;
    resize: none;
    height: 100px;
}

button {
  float: right;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
  margin: 5%;
}

#bouton:hover {
  background-color: #007095;
}